.save-list {
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding: 20px;
  }
  
  .save-card {
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px dashed #ccc;  // Dashed gray border
    //border: 2px dotted #ccc;  // Dotted gray border
    margin: 5px 0;
    border-radius: 5px;
  }
  
  button {
    margin-right: 5px;
  }
  

  h3, p {
    margin: 0;
    padding: 0; 
    padding: 5px;
  }